.EventCards{
    margin: 80px 0 0 0;

    ::-webkit-scrollbar{
        display: none;
    }
    .Card{
        margin: 40px 50px !important;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        gap: 20px;
        overflow-x: scroll;
        overflow-y: hidden;

        .card{
            width: 300px;
            height: fit-content;
            z-index: 0;
            margin: 40px 0 0 50px;

            .DateContainer{
                border: 3px solid white;
                padding: 15px 30px;
                width: fit-content;
                border-radius: 50%;
                margin: -30px 0 0 -30px;
                position: absolute;
                z-index: 1;
                background-color: #002087;
        
                h1, h3{
                    color: white;
                    span{
                        font-size: 18px
                    }
                }
            }
        }        
        .card-body{
            background-color: #C3CEE7;            
            .card-subtitle{
                font-size: 16px;
                color: #002087;
            }
            .card-title{
                font-size: 22px;
            }
            .card-text{
                margin: 20px 0;
                font-size: 18px;
                text-align: left;
            }
        }
    }

    @media only screen and (max-width: 1025px){
        .Card{
            margin: 40px 40px !important;              

            .card{
                width: 250px;
                height: fit-content;
                margin: 40px 0 0 40px;

                .DateContainer{
                    padding: 15px 30px;
            
                    h1, h3{
                        font-size: 32px !important;
                        span{
                            font-size: 18px;
                        }
                    }
                }
            }
            .card-body{                
                .card-subtitle{
                    font-size: 16px;
                }
            }
        }
    }

    @media only screen and (max-width: 769px){
        .Card{
            margin: 40px 30px !important;     
            grid-template-columns: 50% 50% ;  
            gap: 5px; 
            
            .card{
                width: 300px !important;
                height: fit-content;
                margin: 40px 0 0 30px;

                .DateContainer{
                    padding: 10px 25px;
            
                    h1, h3{
                        font-size: 28px !important;
                        span{
                            font-size: 16px;
                        }
                    }
                }
            }
            .card-body{                
                .card-subtitle{
                    font-size: 14px;
                }
                .card-title{
                    font-size: 18px;
                }
                .card-text{                    
                    font-size: 16px;                   
                }
            }
        }
    }

    @media only screen and (max-width: 426px){ 
        .Card{    
            margin: 40px 0 !important;
            grid-template-columns: 100%;   
            .card{
                width: 90vw !important;
                height: fit-content;
                margin: 40px 0 0 20px;
                .DateContainer{
                    margin: -20px 0 0 -10px;
                } 
            }
            .card-body{                
                .card-subtitle{
                    font-size: 14px;
                }
                .card-title{
                    font-size: 20px;
                }
                .card-text{                    
                    font-size: 16px;                   
                }
            }
        }
    }

    @media only screen and (max-width: 321px){
        .Card{    
            .card{
                width: 300px !important;
                height: fit-content;
                margin: 40px 0 0 10px;
            }
            .card-body{                
                .card-subtitle{
                    font-size: 12px;
                }
                .card-title{
                    font-size: 18px;
                }
                .card-text{                    
                    font-size: 14px;                   
                }
            }
        }
    }
}