@use "../../../custom";
@import "../../../custom";

.EventCards{
    ::-webkit-scrollbar{
        display: none;
    }
    .Card{
        .card{
            width: 300px;
            height: fit-content;
            z-index: 0;
            margin: 40px 0 0 50px;

            .DateContainer{
                border: 3px solid custom.$primaryWhite;
                background-color: map-get($theme-colors, "primary" );
        
                h1, h3{
                    color: custom.$primaryWhite;
                    span{
                        font-size: 18px
                    }
                }
            }
        }        
        .card-body{
            background-color: map-get($theme-colors, "blue" );            
            .card-subtitle{
                font-size: 16px;
                color: map-get($theme-colors, "primary" );
            }
            .card-title{
                font-size: 22px;
            }
            .card-text{
                margin: 20px 0;
                font-size: 18px;
                text-align: left;
            }
        }
    }

    @media only screen and (max-width: 1025px){
        .Card{
            .card{
                width: 250px;
                height: fit-content;
                margin: 40px 0 0 40px;

                .DateContainer{
                    h1, h3{
                        font-size: 32px !important;
                        span{
                            font-size: 18px;
                        }
                    }
                }
            }
            .card-body{                
                .card-subtitle{
                    font-size: 16px;
                }
            }
        }
    }

    @media only screen and (max-width: 769px){
        .Card{
            .card{
                width: 300px !important;
                height: fit-content;
                margin: 40px 0 0 30px;

                .DateContainer{
                    h1, h3{
                        font-size: 28px !important;
                        span{
                            font-size: 16px;
                        }
                    }
                }
            }
            .card-body{                
                .card-subtitle{
                    font-size: 14px;
                }
                .card-title{
                    font-size: 18px;
                }
                .card-text{                    
                    font-size: 16px;                   
                }
            }
        }
    }

    @media only screen and (max-width: 426px){ 
        .Card{       
            .card{
                width: 90vw !important;
                height: fit-content;
                margin: 40px 0 0 20px; 
            }
            .card-body{                
                .card-subtitle{
                    font-size: 14px;
                }
                .card-title{
                    font-size: 20px;
                }
                .card-text{                    
                    font-size: 16px;                   
                }
            }
        }
    }

    @media only screen and (max-width: 321px){
        .Card{    
            .card{
                width: 300px !important;
                height: fit-content;
                margin: 40px 0 0 10px;
            }
            .card-body{                
                .card-subtitle{
                    font-size: 12px;
                }
                .card-title{
                    font-size: 18px;
                }
                .card-text{                    
                    font-size: 14px;                   
                }
            }
        }
    }
}

.modal-content {
    width: 95vw;
    margin: 20px 20px 0  20px;
    border-radius: 20px 20px 0 0  !important;
    background-color: map-get($theme-colors, "blue" );
    padding: 0 20px;
    .modal-header{
        .modal-title{
            font-size: 20px
        }
    }
    .modal-body{
        h1{
            font-size: 24px
        }
        p{
            font-size: 14px;
        }

        #TotalPrice {
            margin: 60px 0 10px 0;
            font-size: 2rem;
        }

        #TicketCheckoutButton{
            width: 100%;
        }
    }

    @media only screen and (max-width: 1025px){
        margin: 20px 10px 0  10px;
    }

    @media only screen and (max-width: 601px){
        margin: 20px 5px 0  5px;
    }

    @media only screen and (max-width: 426px){
        width: 92vw;
    }
}