@use "../../../custom";
@import "../../../custom";

.EventBody{
    .DateContainer{
        border: 3px solid custom.$primaryWhite;
        background-color: map-get($theme-colors, "primary" );

        h1, h3{
            color: custom.$primaryWhite;
            font-size: 36px;
            span{
                font-size: 20px
            }
        }
    }
    .Carousel{
        display: flex;
        justify-content: center;
        padding: 0 20px;
        margin: 80px 20px 0 20px !important;
        z-index: 0;
        img {
            width: 91vw;
            height: 521px;
            border-radius: 20px;
            background: custom.$primaryGray;
            object-fit: cover;
            opacity: 0.7;
        }
        .carousel-caption{
            h3{
                font-size: 54px;
            }
            p{
                text-align: left;
            }
        }
        .carousel-control-prev-icon,
        .carousel-control-next-icon{
            width: 15px;
            background-color: map-get($theme-colors, "primary" );
            margin: 5px 15px;
            border: 1px solid map-get($theme-colors, "primary" );
            border-radius: 20px;
        }
        .carousel-indicators {
            margin: 0 0 -40px 0;
            transition: 1s;
            .active{
                width: 90px !important;
            }
            button[type=button] {
                background-color: map-get($theme-colors, "primary" );
                width: 45px;
                height: 10px;
                border: 1px solid map-get($theme-colors, "primary" );
                border-radius: 20px !important;
            }
        }
    }

    @media only screen and (max-width: 1025px){     
        .DateContainer{
            h1, h3{
                font-size: 32px !important;
                span{
                    font-size: 18px;
                }
            }
        }
        .Carousel{
            padding: 0;
            img {
                width: 96vw;
            }
        }
    }

    @media only screen and (max-width: 769px){ 
        .DateContainer{
            h1, h3{
                font-size: 28px !important;
                span{
                    font-size: 16px;
                }
            }
        }
        .Carousel{
            padding: 0 20px;
            margin: 80px 0 0 0 !important;
            img {
                height: 450px;
                width: 94vw;
            }
            .carousel-caption{
                h3, h2{
                    font-size: 42px;
                }
                p{
                    text-align: left;
                }
            }
        }    
    }

    
    @media only screen and (max-width: 426px){ 
        .DateContainer{
            margin: -20px 0 0 5px;
        }    
        .Carousel{
            padding: 0 10px;
            img {
                width: 94vw;
                height: 321px;           
            }
            .carousel-caption{
                h3, h2{
                    font-size: 18px;
                }
                p{
                    text-align: left;
                    font-size: 10px;
                }
            }
        }
    }
}

.modal-content {
    width: 95vw;
    margin: 20px 20px 0  20px;
    border-radius: 20px 20px 0 0  !important;
    background-color: map-get($theme-colors, "blue" );
    padding: 0 20px;
    .modal-header{
        .modal-title{
            font-size: 20px
        }
    }
    .modal-body{
        h1{
            font-size: 24px
        }
        p{
            font-size: 14px;
        }

        #TotalPrice {
            margin: 60px 0 10px 0;
            font-size: 2rem;
        }

        #TicketCheckoutButton{
            width: 100%;
        }
    }

    @media only screen and (max-width: 1025px){
        margin: 20px 10px 0  10px;
    }

    @media only screen and (max-width: 601px){
        margin: 20px 5px 0  5px;
    }

    @media only screen and (max-width: 426px){
        width: 92vw;
    }
}