.BlogBody{
    margin: 80px 40px 0 40px;

    .card{
        border: none;
        background: #F4FAFF;

        .card-img-top {
            max-height: 500px !important;
            object-fit: cover;
            border-radius: 62% 38% 89% 11% / 30% 87% 13% 70% ;
        }
        .card-body{
            text-align: center;
            background: #F4FAFF;

            .card-header {
                color: #002087;
                font-size: 30px;
                font-weight: 700;
                background-color: #F4FAFF;
            }
            .card-text{
                margin: 20px 0 20px 0;
                text-align: left;
            }
        }
    }

    
    @media only screen and (max-width: 1025px){
        margin: 60px 20px 0  20px;
    }

    @media only screen and (max-width: 1025px){
        margin: 40px 10px 0  10px;
    }
}