@use "../../../custom";
@import "../../../custom";

.Banner{
    background-color: map-get($theme-colors, "blue" );
    h1{
        span{
            color: map-get($theme-colors, "primary" );
        }
    }
    Button{
        height: fit-content;
        margin: 40px 0 0 0;
    }


    @media only screen and (max-width: 768px){
        Button{
            margin: 20px 0 0 0;
        }
    }

    @media only screen and (max-width: 426px){
        Button{
            margin: 10px 0 0 0;
            font-size: 12px;
        }
    }
}