@use "../../../custom";
@import "../../../custom";

.Blog{
    .header{
        button{
            background-color: custom.$primaryWhite;
            border: 1px solid map-get($theme-colors, "blue" );
        }
    }
    ::-webkit-scrollbar{
        display: none;
    }
    .Card{
        margin: 40px 50px !important;
        gap: 20px;
        overflow-x: scroll;
        overflow-y: hidden;

        .slick-slider,
        .slick-list {      
            width: 100vw !important;
        }
        .card{
            width: 300px;
            height: fit-content;
        }        
        .card-body{
            background-color: map-get($theme-colors, "blue" );            
            .card-subtitle{
                font-size: 18px;
                color: map-get($theme-colors, "success" );
            }
            .card-title{
                font-size: 32px;
            }
            .card-text{
                margin: 20px 0;
                font-size: 24px;
                text-align: left;
            }
        }
    }

    @media only screen and (max-width: 1025px){
        .Card{
            margin: 40px 50px !important;        
            .card{
                width: 250px;
                height: fit-content;
            }
            .card-body{                
                .card-subtitle{
                    font-size: 16px;
                }
                .card-title{
                    font-size: 30px;
                }
                .card-text{                    
                    font-size: 22px;                   
                }
            }
        }
    }

    @media only screen and (max-width: 769px){
        .Card{
            margin: 40px 30px !important;        
            .card{
                width: 250px !important;
                height: fit-content;
            }
            .card-body{                
                .card-subtitle{
                    font-size: 14px;
                }
                .card-title{
                    font-size: 26px;
                }
                .card-text{                    
                    font-size: 18px;                   
                }
            }
        }
    }

    @media only screen and (max-width: 426px){        
        .Card{    
            gap: 2px !important;
            .card{
                width: 290px !important;
                height: fit-content;
            }
            .card-body{                
                .card-subtitle{
                    font-size: 14px;
                }
                .card-title{
                    font-size: 20px;
                }
                .card-text{                    
                    font-size: 16px;                   
                }
            }
        }
    }

    @media only screen and (max-width: 321px){
        .Card{    
            .card{
                width: 250px !important;
                height: fit-content;
            }
            .card-body{                
                .card-subtitle{
                    font-size: 14px;
                }
                .card-title{
                    font-size: 20px;
                }
                .card-text{                    
                    font-size: 16px;                   
                }
            }
        }
    }
}