@use "../../../custom";
@import "../../../custom";

.FooterHead {
    background-color: map-get($theme-colors, "primary" );
    .Getintouch{
        div{
            color: custom.$primaryWhite;
        }
    }
    div{
        color: custom.$primaryWhite;
    }
    .Mailus{
        #email{
            margin: 20px 0 0 0;
            .form-control{
                background-color: map-get($theme-colors, "primary" );
                border-radius: 0;
                border: 0;
                border-bottom: 1px solid custom.$darkGray;
            }
        }
        #checkbox{
            margin: 20px 0 0 0;
            display: grid;
            grid-template-columns: 10% 90%;
            span{
                padding: 0 0;
                width: fit-content;
                height: fit-content;
            }
        }
        Button{
            margin: 20px 0 0 0;
            border-radius: 0;
            border: 1px solid white;
            background-color: custom.$primaryWhite;
            color: custom.$primaryBlack;
            font-weight: 400;
        }
    }
}

.FooterTail{
    background-color: map-get($theme-colors, "primary" );
    h2{
        color: custom.$primaryWhite;
    }
    .FooterMenu{
        display: flex;
        .nav-pills{
            .nav-link{
                color: custom.$primaryWhite;
            }
        }
    }
    #nav-socials {
        display: flex;
    }

    @media only screen and (max-width: 769px){
        .FooterMenu{
            .nav-pills{
                .nav-link{
                    font-size: 10px;
                }
            }
        }
        #nav-socials {
            img{
                width: 20px !important
            }
        }
    }


    @media only screen and (max-width: 376px){
        .FooterMenu{
            display: grid;
            grid-template-columns: 40% 20% 20% ;
        }
    }
}