@use "../../../custom";
@import "../../../custom";

.Carousel{
    display: flex;
    justify-content: center;
    margin: 80px 0 0 0;
    padding: 0 20px;
    img {
        background: custom.$primaryGray;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon{
        width: 15px;
        background-color: map-get($theme-colors, "primary" );
        margin: 5px 15px;
        border: 1px solid map-get($theme-colors, "primary" );
        border-radius: 20px;
    }
    .carousel-indicators {
        margin: 0 0 -40px 0;
        transition: 1s;
        .active{
            width: 90px !important;
        }
        button[type=button] {
            background-color: map-get($theme-colors, "primary" );
            width: 45px;
            height: 10px;
            border: 1px solid map-get($theme-colors, "primary" );
            border-radius: 20px !important;
        }
    }

    @media only screen and (max-width: 1025px){     
        padding: 0 30px;
    }

    @media only screen and (max-width: 769px){     
        padding: 0 20px;
    }

    
    @media only screen and (max-width: 426px){     
        padding: 0 10px;
        margin: 60px 0 0 0;
    }
}