@use "../../../custom.scss";
@import "../../../custom.scss";

.PrimaryNavbar{
    .AuthButton{
        Button{
            margin: 0 5px;
        }
    }

    @media only screen and (max-width: 426px){
        .AuthButton{
            Button{
                font-size: 20px;
            }
        }
    }
}

.SecondaryNavbar{
    display: flex;
    padding: 20px 40px 0 40px !important;
    .nav-pills{
        padding: 0 10px;
        .nav-link{
            color: custom.$primaryBlack;
        }
    }

    .nav-item{
        .nav-link{
            color: custom.$primaryBlack;
        }  
        .active {
            color: map-get($theme-colors, "primary" );
            font-weight: 600;
        }      
    }

    @media only screen and (max-width: 768px){
        font-size: 14px;
    }
    @media only screen and (max-width: 693px){
        display: none !important;
    }
}

.HamBurgerSecondaryNavbar{
    display: grid;
    .nav-pills{
        padding: 0 0 15px 0;
        .nav-link{
            color: custom.$primaryBlack;
        }
    }

    .nav-item{
        .nav-link{
            font-size: 20px;
            color: custom.$primaryBlack;
            margin: 0 0 10px 0;
        }  
        .active {
            color: map-get($theme-colors, "primary" );
            font-weight: 600;
        }      
    }
}

.HamBurgerMenu{
    display: none;
/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 36px;
    top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: map-get($theme-colors, "primary" );
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 30px !important;
    width: 30px !important;
}

/* Color/shape of close button cross */
.bm-cross {
    background: map-get($theme-colors, "danger" );
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: custom.$backgroundColor;
    padding: 1em 1em 0;
    font-size: 1.15em;
}


/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: custom.$primaryBlack;;
}

    @media only screen and (max-width: 693px){
        display: block
    }
}