@use "../../../custom";
@import "../../../custom";

.TechStore{
    margin: 80px 40px 0;
    .InnerBanner{
        background-color: map-get( $theme-colors, "blue" );

        #BottomWhite{
            left: -200px;
            top: 200px;

            #InnerBlue{
                background-color: map-get( $theme-colors, "primary" );
                
                div{
                    background-color: map-get( $theme-colors, "blue" );
                }
            }
        }

        #Fittext {
            h1{
                color: map-get($theme-colors, "primary" )
            }
        }

        #TopWhite{
            right: -200px;
            top: -250px;

            #InnerBlue{
                background-color: map-get( $theme-colors, "primary" );
                
                div{
                    background-color: map-get( $theme-colors, "blue" );
                }
            }
        }
    }

    @media only screen and (max-width: 769px){ 
        margin: 40px 20px 0;
        .InnerBanner{
            #BottomWhite{
                left: -160px;
                top: 140px;
            }
        }
    }

    @media only screen and (max-width: 676px){ 
        margin: 40px 10px 0;
        .InnerBanner{
            #BottomWhite{
                left: -200px;
                top: 300px;
            }
        }
    }

    @media only screen and (max-width: 487px){ 
        margin: 40px 5px 0;
        .InnerBanner{
            #BottomWhite{
                left: -220px;
                
            }
        }
    }
}