.Aboutus{
    margin: 80px 0 0 0;
    padding: 0 100px;
    display: flex;
    gap: 57px;
    img{
        width: 715px;
        height: 565px;
        object-fit: cover;
        border-radius: 50% 50% 8% 92% / 62% 91% 9% 38%;
    }
    .Whoweare{
        text-align: right;
        h2{
            font-size: 48px;
            padding: 0 0 30px 0;
        }
        p{
            font-size: 18px;
            padding: 0 0 30px 0;
        }
        Button{
            width: 182px;
            height: 62px;
            border-radius: 6px;
            border: 1px solid white;
            background: linear-gradient(93.85deg, #002087 1.32%, rgba(193, 10, 40, 0.7) 98.17%);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
            font-size: 20px;
        }
    }
}