.Carousel{
    display: flex;
    justify-content: center;
    margin: 80px 0 0 60px;
    img {
        width: 90vw;
        height: 521px;
        border-radius: 20px;
        background:#D9D9D9;
        object-fit: cover;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon{
        width: 15px;
        background-color: #002087;
        margin: 5px 15px;
        border: 1px solid #002087;
        border-radius: 20px;
    }
    .carousel-indicators {
        margin: 0 0 -40px 0;
        transition: 1s;
        .active{
            width: 90px !important;
        }
        button[type=button] {
            background-color: #002087;
            width: 45px;
            height: 10px;
            border: 1px solid #002087;
            border-radius: 20px !important;
        }
    }
}