.PrimaryNavbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 0 40px;
    height: 100%;
    .SearchBar{
        display: none;
        .faMagnifyingGlass{
            margin: 13px -30px 0 0;
            z-index: 1;
            color: #D1D5DB;
        }
        input[type=search]{
            width: 500px;
            height: 40px;
            color: #D1D5DB;
            border: 1px solid #D1D5DB;
            border-radius: 6px;
            outline: none;
            padding: 0 20px 0 40px;
        }
    }
    img{
        width: 144px;
        height: 61px;
        object-fit: cover;
    }
    .AuthButton{
        height: 100%;
        Button{
            margin: 0 5px;
        }
    }

    @media only screen and (max-width: 693px){
        .AuthButton{
            display: none;
        }
    }

    @media only screen and (max-width: 426px){
        padding: 10px 20px 0 20px;

        .AuthButton{
            margin: 10px 0 0 0;
            Button{
                font-size: 15px;
            }
        }
    }

    @media only screen and (max-width: 365px){
        padding: 10px 10px 0 10px;

        .AuthButton{
            margin: 10px 0 0 0;
            Button{
                font-size: 13px;
            }
        }
    }
}

.SecondaryNavbar{
    display: flex;
    padding: 20px 40px 0 40px;
    .nav-pills{
        padding: 0 10px;
        .nav-link{
            color: black;
        }
        .active, .nav-pills .show > .nav-link {
            background-color: #C3CEE7;
            color: #002087;
        }
    }
    .nav-link{
        color: black;
    }
    @media only screen and (max-width: 768px){
        font-size: 14px;
    }
    @media only screen and (max-width: 693px){
        display: none;
    }
}

.HamBurgerSecondaryNavbar{
    display: grid;
    .nav-pills{
        padding: 0 0 15px 0;
        .nav-link{
            color: black;
        }
        .active, .nav-pills .show > .nav-link {
            background-color: #C3CEE7;
            color: #002087;
        }
    }
    .nav-link{
        color: black;
    }
}

.HamBurgerMenu{
    display: none;
/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 30px;
    height: 30px;
    right: 36px;
    top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #002087;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 30px !important;
    width: 30px !important;
}

/* Color/shape of close button cross */
.bm-cross {
    background: red;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #F4FAFF;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

    @media only screen and (max-width: 693px){
        display: block
    }
}