.Stacks{
    margin: 80px 100px 0 100px;
    text-align: center;
    .Frontend{
        margin: 80px 0 0 0;
        display: flex;
        gap: 132px;
        text-align: left;
        img{
            width: 450px;
            height: 186.02px;
            border-radius: 50% 50% 65% 35% / 62% 23% 77% 38% ;
        }
        .info{
            .header{
                display: flex;
                h2{
                    margin: -3px 0 3px 15px;
                    font-size: 32px;
                    font-weight: 600;
                }
            }
            p{
                font-size: 18px;
                margin: 0 0 20px 0;
            }
        }
    }
    .UIUX{
        margin: 80px 0 0 0;
        display: flex;
        gap: 132px;
        text-align: left;
        flex-direction: row-reverse;
        img{
            width: 400px !important;
            height: 240.92px;
            border-radius: 57% 43% 59% 41% / 62% 78% 22% 38%   ;
        }
        .info{
            .header{
                display: flex;
                h2{
                    margin: -3px 0 3px 15px;
                    font-size: 32px;
                    font-weight: 600;
                }
            }
            p{
                font-size: 18px;
                margin: 0 0 20px 0;
            }
        }
    }
    .Backend{
        margin: 80px 0 0 0;
        display: flex;
        gap: 132px;
        text-align: left;
        img{
            width: 450px !important;
            height: 240.44px;
            border-radius: 100% 0% 67% 33% / 62% 30% 70% 38%;
        }
        .info{
            .header{
                display: flex;
                h2{
                    margin: -3px 0 3px 15px;
                    font-size: 32px;
                    font-weight: 600;
                }
            }
            p{
                font-size: 18px;
                margin: 0 0 20px 0;
            }
        }
    }
    .DataScience{
        margin: 80px 0 0 0;
        display: flex;
        gap: 132px;
        text-align: left;
        flex-direction: row-reverse;
        img{
            width: 400px !important;
            height: 240.92px;
            border-radius: 65% 35% 76% 24% / 62% 28% 72% 38%;
        }
        .info{
            .header{
                display: flex;
                h2{
                    margin: -3px 0 3px 15px;
                    font-size: 32px;
                    font-weight: 600;
                }
            }
            p{
                font-size: 18px;
                margin: 0 0 20px 0;
            }
        }
    }
    .Cybersecurity{
        margin: 80px 0 0 0;
        display: flex;
        gap: 132px;
        text-align: left;
        img{
            width: 450px !important;
            height: 240.44px;
            border-radius: 65% 35% 13% 87% / 19% 28% 72% 81%;
        }
        .info{
            .header{
                display: flex;
                h2{
                    margin: -3px 0 3px 15px;
                    font-size: 32px;
                    font-weight: 600;
                }
            }
            p{
                font-size: 18px;
                margin: 0 0 20px 0;
            }
        }
    }

    @media only screen and (max-width: 1025px){
        margin: 80px 50px 0 50px;
        .Frontend{           
            gap: 30px;           
        }
        .UIUX{          
            gap: 30px;
        }
        .Backend{
            gap: 30px;        
        }
        .DataScience{           
            gap: 30px;
        }
        .Cybersecurity{           
            gap: 30px;
        }
    }

    @media only screen and (max-width: 769px){
        margin: 60px 20px 0 20px;
        .Frontend{            
            img{
                width: 350px;
            }
            .info{
                .header{                   
                    h2{
                        font-size: 20px;
                    }
                }
                p{
                    font-size: 16px;
                }
            }
        }
        .UIUX{            
            img{
                width: 300 !important;           
            }
            .info{
                .header{                   
                    h2{
                        font-size: 20px;
                    }
                }
                p{
                    font-size: 16px;
                }
            }
        }
        .Backend{            
            img{
                width: 350px !important;          
            }
            .info{
                .header{                   
                    h2{
                        font-size: 20px;
                    }
                }
                p{
                    font-size: 16px;
                }
            }
        }
        .DataScience{
            img{
                width: 300px !important;               
            }
            .info{
                .header{                   
                    h2{
                        font-size: 20px;
                    }
                }
                p{
                    font-size: 16px;
                }
            }
        }
        .Cybersecurity{
            img{
                width: 350px !important;              
            }
            .info{
                .header{                   
                    h2{
                        font-size: 20px;
                    }
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }

    @media only screen and (max-width: 600px){
        margin: 60px 20px 0 20px;
        .Frontend{    
            flex-direction: column;        
        }
        .UIUX{     
            img{               
                height: 200.92px;
            }      
            flex-direction: column;
        }
        .Backend{      
            img{               
                height: 200.92px;
            }        
            flex-direction: column;
        }
        .DataScience{
            img{               
                height: 200.92px;
            }  
            flex-direction: column;
        }
        .Cybersecurity{
            img{               
                height: 200.92px;
            }  
            flex-direction: column;
        }
    }

    @media only screen and (max-width: 426px){
        padding: 0 10px 0 10px;
        .Frontend{  
            img{               
                width: 300.92px !important;
            }             
        }
        .UIUX{     
             img{               
                width: 300.92px !important;
            }      
        }
        .Backend{      
             img{               
                width: 300.92px !important;
            }        
        }
        .DataScience{
             img{               
                width: 300.92px !important;
            }    
        }
        .Cybersecurity{
             img{               
                width: 300.92px !important;
            }    
        }
    }

    @media only screen and (max-width: 330px){
        padding: 0 10px 0 10px;
        .Frontend{  
            img{               
                width: 250.92px !important;
            }             
        }
        .UIUX{     
             img{               
                width: 250.92px !important;
            }      
        }
        .Backend{      
             img{               
                width: 250.92px !important;
            }        
        }
        .DataScience{
             img{               
                width: 250.92px !important;
            }    
        }
        .Cybersecurity{
             img{               
                width: 250.92px !important;
            }    
        }
    }
}