.Login{
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    
    .FormArea{
        em{
            font-weight: 500;
        }
        #email, #password{
            border: 2px solid #7298EC;
            border-radius: 4px;
            padding: 10px;
            margin: 0 0 20px 0;
        }

        div{
            p{
                text-decoration: underline;
            }
        }
    }

    @media screen and (max-width: 769px) {
        .FormArea { 
            #email, #password{
                padding: 8px;
            }
        }
    }

    @media screen and (max-width: 426px) {
        height: 100%;
        .FormArea {
            #email, #password{
                padding: 8px;
            }
            
        }
    }

}