@import "~bootstrap/scss/bootstrap";
@import "custom";


.App {
  background-color: #F4FAFF;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: 1.5s;
    .App-link {
      color: white;
      font-family: sans-serif;
    }
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #d3d3d3;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb{
  background: #C3CEE7;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #002087;
  border: 1px solid white;
}
