@use "custom";
@import "bootstrap/scss/bootstrap";
@import "custom";


.App {
  background-color: custom.$backgroundColor;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: 1.5s;
    .App-link {
      color: custom.$primaryWhite;
      font-family: sans-serif;
    }
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: custom.$primaryLightGray;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb{
  background: map-get($theme-colors, "blue" );
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: map-get($theme-colors, "primary" );
  border: 1px solid custom.$primaryWhite
}
